.page {
  background-color: #f3f3f3;
  padding: 0;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

.page__content {
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 375px;
}

@media screen and (max-width: 375px) {
  .page {
    min-width: 375px;
  }
}
